<div class="container" id="blue">
	<h3>
		Around this time of the IB things start to get really stressful, and I have seen it get more and more difficult for you. I just want you to know that you are the toughest and dazzling girl I know. And also the only girl that is able to deal with my stubborness. I just want you to remember that you can do this and I am always gonna try my best to take care of you and be your wall. And I also wanted you to know that I'll try to always be there at the end of the day to send you into a calm and peaceful dream. And if it gets really tough, just remember our relationship, we started from this and got all they way here, and one thing I can say is that dealing with this relationship was tougher but more rewarding than the IB. Ich liebe dich.
	</h3>
	<div class="container">
		<h3 style="text-align: center">
			-Your puppy and your love. 
		</h3>
	</div>
	<div class="container" style="padding-left: 18vw">
		<%=image_tag("pic2.jpg")%>
	</div>
</div>