<div class="container">
	<h1 class="text">Your visit</h1>
	<h3 class="text">I still remember how anxious I was waiting for you at the airport, and with each minute you didn't show up from the gate I thought you would never show up. But when you finally did, I was so happy ande xcited, I wanted to just be like a puppy after the owner comes home at be all excited and happy, but I held back because it isn't the social norm to be a happy puppy. I think it was either at this point or a bit later where I was happy out of my mind. Since, I finally got to see you again and even better, I can feel you again. I know sometimes I can get stubborn with wanting to work or do things or just be lazy in general, but I'm glad you borderline forced me to do many things. In the end, because of you I have more memories to cherish while we are apart. Hopefully, we get to do that camping soon. I really wanna cuddle with you under the stars, roast marshmellows and fight bears with you.</h3>
	<div style="text-align: center; padding-top: 2vh;">
		<%= link_to "Next Story", story_five_path%>
	</div>
</div>