<div class="container">
	<h1 class="text">My new schooling life(was gonna say home but you're my home)</h1>
	<h3 class="text">Today was the day you went on a hike and had reception a few time. I was sooooo happy when I saw the surpise text, it made me smile a lot for a while, hahaha. As i am writing this, I just saw your 2nd reply and I decided I wanted to just add another story to the list. But I am not gonna tell you cause I wanna see how long it takes for you to realise ;P. Today is also the day I moved to my new residence. I wanted to call you and share everything with you, cause I'm an anxious puppy right now and also an excited one. I explored a lot and had a few adventure and some surprises happened, but I won't tell them all now, I rather tell you in person later. I feel oddly good about this, like I thought I would be nervous and panicy since I'm in a new environment, but no. I am walking around with all the confidnece I usually have. I like to think its a sign of me growing. I talked to Nikole for a while since she was awake at 5 am in the states, she's crazy. But the whole time I just wanted to talk to you. I can't wait to call you.</h3>
	<div style="text-align: center; padding-top: 2vh;">
		<%= link_to "Home", root_path%>
	</div>
</div>